# Ignore cached files
data_raw/env_impact/*
# Other files
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.html
!doc/*.html
!inst/doc/*.html
*.log
*.png
*.pdf
*.rdb
*.rdx
*.Rhistory
*.RData
*.RDATA
*.rdata
*.synctex.gz
*.swp
*.tex
*.toc
*.ods#
*.csv#
doc
Meta
.sync*
